.logo__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.logo__image--footer {
  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}
